<div>
    <h1>Change username or password</h1>
    <form #change="ngForm" (ngSubmit)="submit(change)">
        <div class="form-group">
            <label for="username">New username:</label>
            <input required type="text" name="username" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="password">New password</label>
            <input required type="password" name="password" class="form-control" ngModel>
        </div>
        
        <app-button text="Back" routerLink="/home"></app-button>
        <app-button type="submit" text="Submit" ></app-button>
    </form>
</div>
