.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    text-align: center;
}

.form-control {
    width: 100%;
    max-width: 300px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.spacer {
    flex-grow: 1; /* Creates space between buttons */
}